<ng-template #rt let-r="result" let-t="term">
    {{ r.firstName }} {{r.lastName}}
</ng-template>

<label for="inputAuthor">Authors</label>
<input id="inputAuthor" type="text" [ngbTypeahead]="search" placeholder="Author search"
       [inputFormatter]="formatter"
       [resultTemplate]="rt"
       (selectItem)="onSelectAuthor($event)"
       [(ngModel)]="selectedAuthor"
       (keydown.enter)="addSelected()"
/><span *ngIf="searching"> Loading...</span>
<button type="button" (click)="addSelected()">Add</button>
<span *ngFor="let author of authors"
      class="badge badge-default badge-pill"
      (click)="removeAuthor(author.authorId)">
    {{' ' + author.firstName + ' ' + author.lastName}}
    <i class="fa fa-times" aria-hidden="true"></i>
</span>
