<nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse">
    <h1 class="navbar-brand mb-0" routerLink="/">BookWorms</h1>
    <ul class="nav navbar-nav">
        <li [ngClass]="{'nav-item': true, 'active': url == '/browse'}">
            <a class="nav-link" routerLink="/browse">Browse</a>
        </li>
        <li [ngClass]="{'nav-item': true, 'active': url == '/register'}">
            <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li [hidden]="!authService.isAdmin()" [ngClass]="{'nav-item': true, 'active': url == '/admin'}">
            <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li [hidden]="!authService.isAdmin()" [ngClass]="{'nav-item': true, 'active': url == '/purchases'}">
            <a class="nav-link" routerLink="/purchases">Purchases</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item mb-auto mt-auto">
            <app-shopping-cart-button></app-shopping-cart-button>
        </li>
        <li class="nav-item mb-auto mt-auto">
            <app-login-form [isMini]="true" [loggedIn]="loggedIn"></app-login-form>
        </li>
    </ul>
</nav>
