<form *ngIf="!loggedIn" [ngClass]="{'mini-login': isMini}" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <label *ngIf="!isMini" for="inputUsername">Username</label>
    <input class="text-input" formControlName="username" type="text" id="inputUsername" placeholder="username">

    <label *ngIf="!isMini" for="inputPassword">Password</label>
    <input class="text-input" formControlName="password" type="password" id="inputPassword" placeholder="password">

    <input class="submit-input" type="submit" value="Login"/>
</form>
<button *ngIf="loggedIn" (click)="logout()">Log Out</button>
