<div class="container">
    <div class="card" *ngIf="book">
        <h4 class="text-center">{{book.title}}</h4>
        <p class="description">{{book.description}}</p>
        <hr/>
        <div class="row">
            <div class="col-sm-4 offset-sm-1">
                <div class="row">
                    <h6 class="col-sm-6">Authors:</h6>
                    <div class="col-sm-6">
                        <span *ngFor="let author of book.authors">{{author.firstName}} {{author.lastName}}</span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h6 class="col-sm-6">Publisher:</h6>
                    <div class="col-sm-6">
                        <span>{{book.publisher.name}}</span><br>
                        <span *ngIf="book.publisher.city != 'Unknown'">{{book.publisher.city}}</span><br>
                        <span *ngIf="book.publisher.country != 'Unknown'">{{book.publisher.country}}</span><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 offset-sm-2">
                <div class="row">
                    <h6 class="col-sm-6">Genre:</h6>
                    <div class="col-sm-6">
                        <span>{{book.genre}}</span><br>
                    </div>
                </div>
                <div class="row">
                    <h6 class="col-sm-6">Format:</h6>
                    <div class="col-sm-6">
                        <span>{{book.format}}</span><br>
                    </div>
                </div>
                <div class="row">
                    <h6 class="col-sm-6">Pages:</h6>
                    <div class="col-sm-6">
                        <span>{{book.pages}}</span><br>
                    </div>
                </div>
                <div class="row">
                    <h6 class="col-sm-6">ISBN:</h6>
                    <div class="col-sm-6">
                        <span>{{book.isbn}}</span><br>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-4 offset-sm-7">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Stock: {{book.stock}}</p>
                        <h5>Price: {{book.price}}</h5>
                    </div>
                    <button class="btn" (click)="addToCart()">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="row mt-5" *ngIf="book">
            <div class="col-12">
                <app-review-tabbed-container [bookId]="book.bookId"></app-review-tabbed-container>
            </div>
        </div>
    </div>

</div>
