<div>
    <ul class="list-group">
        <li class="list-group-item row">
            <div class="col-7">
                <strong>Title</strong>
            </div>
            <div class="col-1">
                <strong>Amount</strong>
            </div>
            <div class="col-1">
                <strong>Price</strong>
            </div>
            <div class="col-3">

            </div>
        </li>
        <li *ngFor="let item of data" class="list-group-item row">
            <div class="col-7">
                {{item.book.title}}
            </div>
            <div class="col-1">
                {{item.amount}}
            </div>
            <div class="col-1">
                {{item.book.price.toFixed(2)}} €
            </div>
            <div class="col-3">
                <button (click)="removeFromCart(item)"><i class="fa fa-remove"></i>Remove</button>
                <button (click)="increaseAmount(item)"><i class="fa fa-plus"></i>Add</button>
                <button (click)="decreaseAmount(item)"><i class="fa fa-minus"></i>Reduce</button>
            </div>
        </li>
        <li class="list-group-item row">
            <div class="col-1">Total</div>
            <div class="col-1 offset-7">{{total.toFixed(2)}} €</div>
            <div class="col-3">
                <button (click)="buyAllInCart()">Purchase all in cart</button>
            </div>
        </li>
    </ul>
</div>

