<div>
    <h2>
        This is a testing page.
    </h2>
    <p>
        Find the test in the console as debug or error entries.
    </p>

    <br/>
    <app-star-display [rating]="3.56"></app-star-display>
    <star-rating-comp [rating]="3" [starType]="'svg'"></star-rating-comp>

    <br/>
    <!--<button (click)="addToCart()">Add to cart</button>-->
    <!--<button (click)="decreaseAmount()">Remove one from amount</button>-->
    <!--<button (click)="showCartContents()">Print cart contents</button>-->
    <!--<button (click)="clearCart()">Clear cart contents</button>-->
    <!--<button (click)="removeFromCart()">Remove book from cart</button>-->

    <app-review-list></app-review-list>

</div>
