<ng-template #rt let-r="result" let-t="term">
    {{ r.name }}, {{r.city}}, {{r.country}}
</ng-template>

<div class="form-group row">
    <label for="inputPublisher" class="col-2 col-form-label">Publisher</label>
    <div class="col-10">
        <input id="inputPublisher" class="form-control" type="text" placeholder="Start typing to find a publisher..."
               (selectItem)="onSelectPublisher($event)"
               [ngbTypeahead]="search"
               [inputFormatter]="formatter"
               [resultTemplate]="rt"
               [readonly]="hasPublisher"
               [(ngModel)]="selectedPublisher"/>
        <span *ngIf="searching"> Loading...</span>
        <span *ngIf="hasPublisher"
              class="badge badge-default badge-pill"
              (click)="removePublisher()">
        Clear
        <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
</div>
