<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">

    <label for="inputEmail">Email</label>
    <input formControlName="email" type="email" id="inputEmail" placeholder="john.doe@mail.com">
    <br/>
    <label for="inputUsername">Username</label>
    <input formControlName="username" type="text" id="inputUsername" placeholder="username">
    <br/>
    <label for="inputPassword">Password</label>
    <input formControlName="password" type="password" id="inputPassword" placeholder="password">
    <br/>
    <label for="inputRepeatPassword">Repeat Password</label>
    <input formControlName="repeatPassword" type="password" id="inputRepeatPassword" placeholder="password">
    <br/>
    <input type="submit" value="Sign up"/>
</form>
